In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
dataset=
outliers=[]
def detect_outliers(data):
    threshold=3
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score= (i - mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers
outlier_pt=detect_outliers(dataset)
outlier_pt

In [38]:
df=pd.read_excel(r"C:/Users/pradeep/OneDrive/Documents/Book2.xlsx")
df

    Mileage     Price  EngineV
0       277    4200.0     2.00
1       427    7900.0     2.90
2       358   13300.0     5.00
3       240   23000.0     4.20
4       120   18300.0     2.00
5         0  199999.0     5.50
6       438    6100.0     2.00
7       200   14200.0     2.70
8       193   10799.0     1.50
9       212    1400.0     1.80
10      177   11950.0     1.50
11      260    2500.0     1.79
12      165    9500.0     2.70
13      100   10500.0     1.80
14      250   16000.0     4.70
15       84    8600.0     1.50
16      203    2990.0     2.00
17      240       NaN     2.20
18       21   26500.0     2.00
19      250    3500.0     2.50
20        0   38233.0     2.40
21      132    7500.0     1.40
22      225    6800.0     2.40
23      130   10500.0     2.40
24      163   24900.0     4.20
25      151   20800.0     3.00
26      330    6500.0     2.40
27      171   13566.0     2.20
28       65    8500.0     1.30
29        0       NaN     4.60
30        1    2900.0     2.30
31       72   21500.0     3.00
32       87   17900.0     3.80
33      160   28500.0     4.80
34      160    9800.0     1.90
35      147   14500.0     2.40
36      300    6000.0     2.80
37        1   67500.0     2.50
38       14   33900.0     1.80
39      180    2500.0      NaN
40      230    9800.0     2.15
41       86   63000.0     5.50
42      326    7700.0     2.80
43       30    9600.0     2.20
44      181   12800.0     2.40
45       80   41000.0     3.00
46      220    2500.0     2.40
47      231    3700.0     2.50
48      134   29500.0     5.00

In [39]:
dataset=df['Mileage']

In [40]:
outliers=[]
def detect_outliers(data):
    
    threshold=3
    mean = np.mean(data)
    std =np.std(data)
        
    for i in data:
        z_score= (i - mean)/std 
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [41]:
outlier_pt=detect_outliers(dataset)

In [42]:
outlier_pt

[]

In [43]:
df

    Mileage     Price  EngineV
0       277    4200.0     2.00
1       427    7900.0     2.90
2       358   13300.0     5.00
3       240   23000.0     4.20
4       120   18300.0     2.00
5         0  199999.0     5.50
6       438    6100.0     2.00
7       200   14200.0     2.70
8       193   10799.0     1.50
9       212    1400.0     1.80
10      177   11950.0     1.50
11      260    2500.0     1.79
12      165    9500.0     2.70
13      100   10500.0     1.80
14      250   16000.0     4.70
15       84    8600.0     1.50
16      203    2990.0     2.00
17      240       NaN     2.20
18       21   26500.0     2.00
19      250    3500.0     2.50
20        0   38233.0     2.40
21      132    7500.0     1.40
22      225    6800.0     2.40
23      130   10500.0     2.40
24      163   24900.0     4.20
25      151   20800.0     3.00
26      330    6500.0     2.40
27      171   13566.0     2.20
28       65    8500.0     1.30
29        0       NaN     4.60
30        1    2900.0     2.30
31       72   21500.0     3.00
32       87   17900.0     3.80
33      160   28500.0     4.80
34      160    9800.0     1.90
35      147   14500.0     2.40
36      300    6000.0     2.80
37        1   67500.0     2.50
38       14   33900.0     1.80
39      180    2500.0      NaN
40      230    9800.0     2.15
41       86   63000.0     5.50
42      326    7700.0     2.80
43       30    9600.0     2.20
44      181   12800.0     2.40
45       80   41000.0     3.00
46      220    2500.0     2.40
47      231    3700.0     2.50
48      134   29500.0     5.00